@import url('https://fonts.googleapis.com/css?family=Anta');


html {
    scroll-behavior: smooth;
}
.anta{
    font-family: "anta";
    font-size: 80px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://static.posters.cz/image/750/posters/space-background-i199335.jpg);
    color: black;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif

}

header{
    text-align: center;
    display: flex;
    justify-content: center;
}

#Header{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 500px;
}

header h1, h2, p{
    align-self: center;
    margin-bottom: 15px;
}
h3{
    margin-bottom: 20px;
}
nav{
    position: sticky;
    top: 0;
    align-self: center;
    display: flex;
    justify-content:space-between;
    width: 50%;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #71e271;
}
section{
    background-color: #E3DAC9;
    padding: 15px;
    margin: 30px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 11px -4px rgba(5,5,5,0.75);
    -webkit-box-shadow: 5px 4px 11px -4px rgba(5,5,5,0.75);
    -moz-box-shadow: 5px 4px 11px -4px rgba(5,5,5,0.75);
}

section img{
    width: 30%;
}

article .experimentVoorbeeld{
    width: 30%;
}

article img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 255, 123, 0.475);
}

article video {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article video:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 255, 123, 0.475);
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
/* CSS HEX om te onthouden
--dark-teal: #13505bff;
--tan: #dab785ff;
--smoky-rose: #795c5fff;
--tropical-teal: #5bc0beff;
--peach-fuzz: #f9d4bbff; */